@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");
@font-face {
  font-family: 'Geist';
  src: url('./fonts/Geist-Medium.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
};

:root {
  --bg-color: #000;
  --text-color: #fff;
}

background {
  background-color: #121212;
}

/* MonaspaceNeon-Regular */
@font-face {
  font-family: "Monaspace Neon";
  font-style: normal;
  font-weight: 400;
  src: url("/Users/andrewhumble/Downloads/monaspace-v1.101/fonts/webfonts/MonaspaceNeon-Regular.woff2") format("woff2"),
    url("/Users/andrewhumble/Downloads/monaspace-v1.101/fonts/webfonts/MonaspaceNeon-Regular.woff") format("woff");
}

body {
  font-family: "Geist", sans-serif;
}