@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@700&display=swap");

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.MuiTypography-root {
  font-family: "Source Code Pro", sans-serif !important;
  font-weight: 700 !important;
  color: white;
}
